.analyst
	background-color: rgb(245, 249, 255)
	text-align: center
	&__title
		text-align: center
		font-size: 30px
		text-transform: uppercase
		color: $text-color_analyst-title
		padding: 115px 0 50px
	&__item
		&:nth-child(2)
			.analyst__img_svg
				transform: rotate(-40deg)
		&:nth-child(3)
			.analyst__img_svg
				transform: rotate(-20deg)
	&__img
		position: relative
		margin-bottom: 20px
		&_absolute
			position: absolute
			right: 38%
			bottom: 10px
			width: 60px
			height: 60px
		&_svg
			width: 140px
			height: 120px

	p
		font-size: 14px
		font-family: "gilroy", sans-serif
		font-weight: 800
		color: $text-color_analyst-p


